* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

/* ============================
        HEADER STYLES
   ============================ */
.header {
  height: 95vh;
  background-color: rgb(177, 191, 216, 0.8);
  background-image: linear-gradient(
      315deg,
      rgba(177, 191, 216, 0.8) 0%,
      rgb(103, 130, 180, 0.8) 74%
    ),
    url(../imgs/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 65px;
}
