/* ============================
        COLORS
   ============================ */
$color-primary: #5584c1;
$color-primary-dark: #375480;
$color-primary-light: #e4e6fa;

$color-secondary-light: #e2d5f5;
$color-secondary-dark: #604e7b;

$color-tertiary-light: #fed2bd;
$color-tertiary-dark: #dd7169;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray: #777;
$color-black: #000;

$color-white: #eee;

/* ============================
        GRID
   ============================ */
$default-font-size: 1.6rem;

/* ============================
        GRID
   ============================ */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$horizontal-gutter: 6rem;

/* ============================
        BORDER-RADIUS
   ============================ */
   $default-border-radius: 3px;

