/* ============================
        COLORS
   ============================ */
$color-primary: #b1bfd8b3;
$color-primary-dark: #6782b4b3;
$color-primary-light: #e6e8fa;

$color-gray: #777;
$color-black: #000;
